In [80]:
import pandas as pd
import matplotlib.pyplot as plt

In [96]:
inputRead = "coOccur_part-00000"
#inputRead = "twitter1day_part-00000"
#inputRead = "CoOccurTwitter1day_part-00001"
#inputRead = "TwitterFull_part-00000"
#inputRead = "NYTFull_part-00000"

#print(f.read())
tableData = pd.read_table(inputRead, sep = "\t")
tableData.columns = ['word','count']
print(tableData)

                     word  count
0              15,million      2
1             20,investig      1
2            2011,consent      1
3                 2013,Mr      1
4            2013,alexand      1
5              2013,email      1
6          20132014,engag      1
7             2014,accord      1
8                2014,ask      1
9              2014,began      1
10                2016,Mr      2
11          2016,campaign      1
12        2016,campaignth      1
13             2016,elect      1
14        2016,presidenti      1
15            2016,though      1
16              2016,unit      1
17      2017the,brazilian      1
18          2017the,revel      1
19       2017those,survey      1
20    230,millionfacebook      1
21            250,million      1
22            270000,user      1
23                   4,Mr      1
24            4,broadcast      2
25               4,follow      1
26                  4,new      5
27               4,report      3
28                4,spent      1
29     47000person,survey      1
...                   ...    ...
1793       wyli,testimoni      2
1794             wyli,thu      1
1795            wyli,told      2
1796           wyli,would      1
1797         wyliemr,wyli      1
1798          year,agobut      1
1799            year,make      1
1800        yearmr,odinga      1
1801    yearsenior,offici      1
1802            york,said      1
1803            york,time      6
1804   york,timescambridg      1
1805           york,yanke      1
1806          youth,voter      1
1807       zuckerberg,ask      1
1808  zuckerberg,facebook      2
1809        zuckerberg,ha      1
1810      zuckerberg,said      1
1811                  —,A      1
1812           —,although      1
1813            —,cofound      1
1814              —,feder      1
1815                —,sit      1
1816              —,sophi      1
1817              —,theyr      1
1818                —,urg      1
1819              —,weird      1
1820     ‘that,propaganda      2
1821             ‘thi,man      1
1822             ‘who,put      1

[1823 rows x 2 columns]

In [97]:
nrows = tableData.shape[0]
nrows

1823

In [98]:
sortedData = tableData.sort_values('count',ascending= False)
sortedData

                          word  count
293         cambridg,analytica     59
68                      Mr,nix     30
647              facebook,data     15
76                     Mr,wyli     14
338                  channel,4     14
1641                unit,state     10
666              facebook,user     10
344               chief,execut     10
32                  50,million      9
1068                  new,york      9
1022          million,facebook      9
1451              social,media      7
425               compani,said      7
494               data,harvest      6
43                    Dr,kogan      6
64                 Mr,kenyatta      6
1605            trump,campaign      6
1803                 york,time      6
1140          palantir,employe      6
866          inform,commission      5
61             Mr,chmieliauska      5
26                       4,new      5
491                  data,firm      5
994            mark,zuckerberg      5
674                  fake,news      5
741                gain,access      5
507                    data,wa      5
1220              presid,trump      5
442               consult,firm      5
1252         psychograph,model      4
...                        ...    ...
617                ethnic,base      1
616    estrategia,planejamento      1
614                     eric,T      1
640             execut,suspens      1
641                   exist,It      1
642                  face,deep      1
657              facebook,pend      1
671        facebookth,palantir      1
670         facebookth,compani      1
668           facebook,usersth      1
667   facebook,usersprosecutor      1
664               facebook,tie      1
662              facebook,rule      1
661          facebook,reproduc      1
660          facebook,prohibit      1
659            facebook,profil      1
658            facebook,permit      1
656            facebook,offici      1
643               face,inquiri      1
655             facebook,might      1
654              facebook,link      1
653              facebook,lack      1
652              facebook,hand      1
651              facebook,fail      1
650            facebook,execut      1
649             facebook,dataw      1
648           facebook,databut      1
645               facebook,app      1
644        facebook,accountbut      1
1822                  ‘who,put      1

[1823 rows x 2 columns]

In [99]:
i=0

In [100]:
# only to be run if we need CoOccurence
isForCoOccurence = True

In [101]:
#targetFileName = "coOccNYT1DAY_forfulldata.js"
targetFileName = "coOccNYT1DAY_.js"
#targetFileName = "twitter1DAY.js"
#targetFileName = "coOccTwitter1DAY_forfulldata.js"
#targetFileName = "TwitterFull.js"
#targetFileName = "NYTFull.js"
f= open(targetFileName,"w+",encoding="utf-8")

In [92]:
strText = "var words = ["+"\n"
f.write(strText)
for index,row in sortedData.iterrows():
    i = i+1
    if i==nrows:
        eachRowVal = "\t"+"{text: '"+row['word']+"', size: "+str(row['count'])+"}"+"\n"
    else:
        eachRowVal = "\t"+"{text: '"+row['word']+"', size: "+str(row['count'])+"},"+"\n"
    f.write(eachRowVal)
endText = "];"
f.write(endText)
f.close()

In [102]:
# only to be run if we need CoOccurence!
strText = "var words = ["+"\n"
f.write(strText)
for index,row in sortedData.iterrows():
    i = i+1
    if i==50:
        eachRowVal = "\t"+"{text: '"+row['word']+"', size: "+str(row['count'])+"}"+"\n"
    else:
        eachRowVal = "\t"+"{text: '"+row['word']+"', size: "+str(row['count'])+"},"+"\n"
    f.write(eachRowVal)
    if i==50:
        break
endText = "];"
f.write(endText)
f.close()